.admin-page{
    display: block;
    height: 100vh;
    overflow: hidden;
    background-color:#B0B2B6;
}

.display-entities-container{
    position: relative;
    margin-top: 1%;
    height: 85%;
    overflow-y: auto;
    border-radius: 2em;
}

.user-container{
    position: relative;
    clear: right;
    width: 90%;
    height: 29%;
    min-height: 14em;
    margin: 2% auto;
    background-color: rgba(0, 0, 0, 0.137);
    border-radius: 2em;
    overflow: hidden;
}

.user-container-inside{
    position: relative;
    top: 5%;
    width: 100%;
    height: 90%;
    overflow: hidden;  
}

.img-container{
    float: left;
    position: relative;
    width: 25%;
    height: 100%;
    text-align: center;
}

.profile-img{
    width: 60%;
    height: auto;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.profile-data-container{
    float: left;
    width: 25%;
    height: 90%;
    margin-top: 2%;
    font-size: 0.9em;
}

.profile-data-text{
    float: left;
    clear: left;
    font-size: 130%;
    margin-top: 1%;
}

.user-name{
    font-weight: bold;
    font-size: 1.5em;
}
.card-number{
    position: relative;
    margin-top: 25%;
    font-size: 120%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-container-admin-display{
    float: left;
    position: relative;
    width: 25%;
    height: 100%;
    text-align: center;
}

.card-img{
    position: absolute;
    min-width:300px;
    width: 300px;
    height: auto;
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(7, 7, 7, 0.19);
    border-radius: 1em;
    left: 0%;
    top:50%;
    transform: translateY(-50%);
}

.button-container{
    float: right;
    width: 15%;
    height: 90%;
    margin-top: 0.75%;
    margin-right: 5%;
    text-align: center;
}

.button-style{
    float: left;
    clear: right;
    min-width: 80%;
    max-width: 80%;
    min-height: 25%;
    margin: 4%;
    margin-left: 17%;
    border-radius: 0.5em;
    background-color: #09424D;
    border-style: none;
    font-size: 1em;
    color: white;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.144);
    background-color: #09424D;
}

.button-style:hover {
    background-color: #11768a;
    color: white;
    border-color: #09424D;
  } 

.card-data-style{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: auto;
}

.card-number-on-card{
    position: absolute;
    font-size: 20px;
    margin-top: 115px;
    margin-left: 32px;
    user-select: none;
}

.expiration-date-on-card{
    position: absolute;
    font-size: 13px;
    margin-top: 143px;
    margin-left: 127px;
}

.name-on-card{
    position: absolute;
    font-size: 13px;
    margin-top: 165px;
    margin-left: 33px;
}
