.modal.open {
    display: block;
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content{
    border-radius: 0.95rem;
    border-bottom: 0;
  }
  
  .modal.close {
    display: none;
  }

  .modal-footer.response-modal {
    padding: 0;
    height: 50px;
  }

  .btn-default.response-button {
    width: 100%;
    margin-left: 0;
    border-radius: 0;
    min-height: 100%;
    background-color: #09424D;
    color: white;
    border-bottom-right-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    border-color: #09424D;
  }

  .btn-default:hover.response-button {
    background-color: #0d6e82;
    color: white;
    border-color: #09424D;
  } 

