.container {
  margin-top: 2em;
}

.accent-color {
  border-color: #0b6678;
}

.header {
  height: 50px;
  background: #084c59;
  width: 100%;
  top: 0;
}

footer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.footer-img {
  left: 0;
  bottom: 0;
  width: 100%;
  
}

.vikingImage {
  position: relative;
  top: 100%;
  padding: 10px;
  width: 20%;  
}

.whiteLogo {
  position: absolute;
  left: 2em;
  bottom: 0;
  max-width: 250px;
  max-height: 150px;
}

.descriptionText {
  color:white;
  position: fixed;
  left: 33%;
  top: 85%;
  font-size: 65%;
}

.modal.open {
  display: block;
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
}

.modal.close {
  display: none;
}