.header {
  height: 50px;
  background: #084c59;
  width: 100%;
  /* position: fixed; */
  top: 0;
}

.footer-img {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
}

.vikingImage {
  position: relative;
  top: 100%;
  padding: 10px;
  width: 20%;  
}

.whiteLogo {
  z-index: 3;
  position: relative;
  /* left:2%;
  top:85%; */
  max-width: 250px;
  max-height: 150px;
}

.descriptionText {
  /* color:white;
  position: fixed;
  left: 31%;
  top: 85%;
  font-size: 65%; */
}

.validationText {
  /* color:#d64259;
  font-size: 50%; */
}

.modal.open {
  display: block;
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
}

.modal.close {
  display: none;
}