.ProfilePictureContainer
{
    position: relative;
    float: left;
    margin: 5%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

#ProfilePicture
{
    height: 100%;
    width: auto;
    margin-left: -20%;
}