.transfer-funds-page{
    background-color: #B0B2B6;
    width: 100vw;
    height: 100vh;
}
.transfer-funds-container{
    position: relative;
    min-width: 25em;
    width:60%;
    height: 60%;
    top: 1rem;
    left: 5rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 2em;
    overflow: hidden;
}
.details-inside-container{
    min-width: 20em;
    width: 40%;
    height: 100%;
    padding: 1em;
}

.transfer-details-container{
    position: absolute;
    top: 10%;
    left: 150%;
}
