.sidebar{
    background-color: white;
    color: #09424d;
    font-weight: bold;
    font-size: 13px;
    height: 100%;
    transition: 0.5s;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}

.collapsed{
    width: 60px;
}

.expanded{
    width: 200px;
}

.top-bar{
    background-color: #09424d;
    font-weight: bold;
    font-size: 13px;
    height: 60px;
    width: 100%;
    max-width: 1920px;
    align-items: center;
    vertical-align: middle;
}

.dashboard-title-container{
    padding-top: 15px;
    padding-left: 18px;
    border-bottom: 1px solid #09424d;
    height:60px;
}

.menu-icon{
    width:20px;
    height:20px;
}



.img.viking-logo{
    width: 224px;
    height: 55px;
    position: absolute;
    margin-left: 45%;
    margin-right: 50%;
}

.account-view{
    background-color: white;
    margin-top: 15px;
    width: 75%;
    margin-left:15%;
    height: 550px;
    border-radius : 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-flex;
    position: relative;
}

.card-unavailable{
    min-width:400px;
    width:400px;
    height:250px;
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(7, 7, 7, 0.19);
    border-radius: 15px;
}

.accounts-information{
    margin-left:5%;
    color: dimgray;
    font-size: 16px;
    width:100%;
}

.no-card-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    width: 70%;
    font-size:15px;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.dropdown {
    float: right;
    margin-right: 5%;
    margin-top: -50px;
}
  
.mega-menu {
    display: none;
}

.mega-menu.true {
    display: block;
}

.mega-menu-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.side-menu-hide {
    padding: 20% 30%;
    align-items: center;
}

.side-menu-hide:hover{
    background-color: #09424d;
    transition: 0.5s;
}

.side-menu-hide:hover .menu-icon{
    filter: brightness(0) invert(1);
    transition: 0.5s;
}

.side-menu-show{
    padding: 7% 20%;
}

.side-menu-show:hover{
    background-color: #09424d;
    transition: 0.4s;
}

.side-menu-show:hover .menu-icon{
    filter: brightness(0) invert(1);
    transition: 0.5s;
}

.side-menu-show:hover .span-show{
    color: white;
    transition: 0.5s;
}

.span-hide{
    display:none;
}

.span-show{
    color: #09424d;
    font-weight: lighter;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.dashboard-hide{
    display:none;
}

.dashboard-show{
    color: #09424d;
    font-weight: bold;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.user-page{
    width:100%;
    height:100%;
}

.transform-none{
    transform: none;
    margin-left:30%;
    position:absolute;
    bottom:3%;
}

.transform-reverse{
    transform: scaleX(-1);
    align-self: center;
    position:absolute; 
    bottom:3%;
    margin-left:80%;
}

.button-user-icon{
    width:100%;
    background-color: white;
    border: none;
    color: #09424d;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600
}

.button-user-icon:hover{
    background-color: #09424d;
    color: white;
    transition: 0.4s;
}

.accounts-header{
    margin-top: 15px;
    font-size: 1vw;
    font-weight: bolder;
}

.accounts-title{
    width:100%;
}

.balance-header{
    font-family: Arial, Helvetica, sans-serif;
    color:#09424d;
    font-size:2vw;
    font-weight: 790;
}

.balance-value{
    font-family: Arial, Helvetica, sans-serif;
    color:#505353;
    font-size:2vw;
    font-weight: 775;
}

.balance-information{
    font-size: 10px;
    margin-top: -20px;
}

.balance-container{
    border-bottom: 1px solid #09424d;
    width:80%;
}

.accounts-container{
    font-family: Arial, Helvetica, sans-serif;
    color:#155764;
    font-size:1.4vw;
    font-weight: 775;
}

.account-value{
    font-family: Arial, Helvetica, sans-serif;
    color:#7a8080;
    font-size:1.4vw;
    font-weight: 775;
}

.card-available{
    min-width:400px;
    width:400px;
    height:250px;
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(7, 7, 7, 0.19);
    position: relative;
    border-radius: 15px;
}

.card-picture-container{
    margin-top: 3%;
    margin-left: 5%;
}

.card-number{
    position: absolute;
    z-index: 1;
    margin-top: 145px;
    margin-left: 45px;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
}

.card-expiration-date{
    position: absolute;
    z-index: 1;
    margin-top: 181px;
    margin-left: 165px;
    user-select: none;
}

.card-owner-name{
    position: absolute; 
    z-index: 1;
    margin-top: 210px;
    margin-left:40px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
}