.sideBar{
    background-color: white;
    color: #09424d;
    font-weight: bold;
    font-size: 13px;
    height: 100%;
    transition: 0.5s;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topBar{
    background-color: #09424d;
    font-weight: bold;
    font-size: 13px;
    height: 60px;
    width: 100%;
    max-width: 1920px;
    align-items: center;
    vertical-align: middle;
}

.regularDiv{
    border-bottom: 1px solid #09424d;
    height:46px;
}

img{
    width:20px;
    height:20px;
}

img.vikLogo{
    width: 224px;
    height: 55px;
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
}

p{
    margin-left: 5%;
}

.account{
    background-color: white;
    margin-top: 10px;
    margin-left: 20%;
    width: 70%;
    height: 600px;
    border-radius : 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardUnavailable{
    width: 600px;
    height: 300px;
    object-fit: cover;
    margin-top: 3%;
    margin-left: 5%;
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(7, 7, 7, 0.19);
    border-radius: 25px;
    transition: 0.5s;
}

.info{
    margin-left:5%;
    color: dimgray;
    font-size: 16px;
    width:100%;
}

.pNew{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    width: 70%;
}

.userIcon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
  
.dropdown {
    position: relative;
    float: right;
    margin-right: 5%;
    margin-top: 0.5%;
}
  
.mega-menu {
    display: none;
}

.mega-menu.true {
    display: block;
}

.mega-menu-content {
    position: absolute;
    background-color: #ffffff;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

a {
    background-color: #ffffff;
    color: #09424d;
    display: block;
    font-weight: lighter;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
}
  
a:hover {
    color: #ffffff;
    background-color: #09424d;
}