.notifications-container {
    position: relative;
    margin-top: 2%; 
    min-height: 50%;
    max-height: 85%;
    overflow-y: auto;
    border-radius: 2em;
    padding: 2%;
}

.notifications-container h5 {
    font-size: 2em;
    color: #004450;
}

.notification-text {
    width: 80%;
}