.profile-picture-container
{
    
    position: relative;
    margin: 5%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

#profile-picture
{
    height: 100%;
    width: auto;
    margin-left: -20%;
}