.transactions {
    width:80%;
    right: 5%;
    bottom: 5%;
}

.transactions table {
    color: #58595B;
    font-size: 1vw;
}

.transactions h5 {
    font-size: 1.5vw;
    color: #004450;
}

.transactions .other-party-image {
    max-width: 30px;
    max-height: 30px;
}