.payments-text {
    font-family: Helvetica;
    font-style: italic;
}

.centered-text {
    align-content: center;
    text-align: center;
}

.automatic-payments-list {
    position: relative;
    right: 4%;
}

.add-payment-icon {
    position: relative;
    border: none;
    padding: 0;
    width: 90%;
}

.add-payment-button {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 91%;
    bottom: 85%;
}

.add-payment-button:focus,.add-payment-button:active {
    outline: none;
    box-shadow: none;
 }

.delete-automatic-payment-icon{
    margin-bottom: 10px;
    width: 40%;
}