.payments-text {
    font-family: Helvetica;
    font-style: italic;
}

.centered-text {
    align-content: center;
    text-align: center;
}

.automatic-payments-list {
    position: relative;
    right: 4%;
}

.delete-automatic-payment-icon{
    margin-bottom: 10px;
    width: 40%;
}